<div class="mat-typography">
  <h2 mat-dialog-title *ngIf="!hideTitle">{{ title }}</h2>
  <mat-dialog-content>
    {{ message }}
  </mat-dialog-content>
  <mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button mat-dialog-close>{{ cancelText }}</button>
    <button mat-button [mat-dialog-close]="true">{{ confirmText }}</button>
  </mat-dialog-actions>
</div>
